# Karakeep Env Vars
NEXTAUTH_SECRET=random_secret_1
NEXTAUTH_URL=https://subdomain.example.com
MEILI_ADDR=http://meilisearch:7700
BROWSER_WEB_URL=http://chrome:9222
# OPENAI_API_KEY=
DATA_DIR=/data # DON'T CHANGE THIS
DISABLE_SIGNUPS=true # Leave false for first time setup to create admin
