# Whitney Traefik Static Config
[global]
  checkNewVersion = true
  sendAnonymousUsage = false

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.web.http.redirections.entryPoint]
    to = "websecure"
    scheme = "https"
  [entryPoints.websecure]
    address = ":443"
  [entryPoints.websecure.transport.respondingTimeouts]
    readTimeout = "512s"
    writeTimeout = "512s"
    idleTimeout = "512s"
  [entryPoints.gitea]
    address = ":2222"

[api]
  dashboard = true

[certificatesResolvers.lets-encrypt.acme]
  email = "runyanjake@gmail.com"
  storage = "/etc/acme.json"
  # Use LetsEncrypt Staging Server
  # caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
  # Use LetsEncrypt Prod Server
  caServer = "https://acme-v02.api.letsencrypt.org/directory"
  [certificatesResolvers.lets-encrypt.acme.tlsChallenge]

[providers]
  [providers.docker]
    watch = true
    network = "traefik"
  [providers.file]
    directory = "/etc/traefik/dynamic/"
    watch = true

[log]
  level = "info"

