body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-bottom: 5%;
    color: #333333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container-with-footer-padding {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}

header {
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

.blog-image {
    width: 50%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F5844C;
    color: #240f0f;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-entry {
    padding-bottom: 60px;
}

.service-public-status {
    display: inline;
    padding: 10px 20px;
    background-color: #1daa0a;
    color: #240f0f;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-private-status {
    display: inline;
    padding: 10px 20px;
    background-color: #c72424;
    color: #240f0f;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #cf5416;
}

.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 0;
}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.sub-section {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 0;
    padding-bottom: 60px;
}

.sub-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin: 0;
}

.sub-section p {
    font-size: 1.2em;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F5844C;
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e0a806;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer .social-media a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
}
