# Planka Env Vars
BASE_URL=https://planka.example.com
DATABASE_URL=postgresql://postgres@postgres/planka
SECRET_KEY=your_secret_key
LOG_LEVEL=warn
DEFAULT_ADMIN_EMAIL=example@gmail.com
DEFAULT_ADMIN_PASSWORD=password
DEFAULT_ADMIN_NAME=Admin
DEFAULT_ADMIN_USERNAME=admin
