networks:
  traefik:
    driver: bridge
    name: traefik

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    networks:
      - traefik
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.toml:/etc/traefik/traefik.toml
      - ./traefik-dynamic.toml:/etc/traefik/dynamic/traefik-dynamic.toml
      - ./acme.json:/etc/acme.json
