[http.middlewares]
  [http.middlewares.redirect-to-www.redirectRegex]
    regex = "^https?://whitney.com(.*)"
    replacement = "http://www.whitney.com$${1}"
    permanent = true
  [http.middlewares.simpleAuth.basicAuth]
    users = ["olomana:password_hash"]

[http.routers.api]
  rule = "Host(`monitor.whitney.rip`)"
  entrypoints = "websecure"
  middlewares = ["simpleAuth"]
  service = "api@internal"
  [http.routers.api.tls]
    certResolver = "lets-encrypt"

