[http.middlewares]
  [http.middlewares.simpleAuth.basicAuth]
    users = ["olomana:password_hash"]

[http.routers.api]
  rule = "Host(`monitor.whitney.rip`)"
  entrypoints = "websecure"
  middlewares = ["simpleAuth"]
  service = "api@internal"
  [http.routers.api.tls]
    certResolver = "lets-encrypt"

